@charset "UTF-8";
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Dejima';
  src: url(../fonts/dejima-mincho-f.ttf);
}
/* line 1, ../../dev/scss/common/_general.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 6, ../../dev/scss/common/_general.scss */
body {
  color: #fff;
}

/* line 10, ../../dev/scss/common/_general.scss */
.container {
  display: block;
  width: 960px;
  margin: 0 auto;
}

/* line 16, ../../dev/scss/common/_general.scss */
.ff-serif {
  font-family: serif;
}

/* line 20, ../../dev/scss/common/_general.scss */
.main-area {
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 50px;
  background: #000;
}
/* line 25, ../../dev/scss/common/_general.scss */
.main-area h3 {
  font-family: Dejima;
  background: #000;
  line-height: 50px;
  font-size: 30px;
}
/* line 30, ../../dev/scss/common/_general.scss */
.main-area h3 .en {
  margin-left: 12px;
  font-size: 12px;
  color: #aaa;
  line-height: 50px;
}
/* line 37, ../../dev/scss/common/_general.scss */
.main-area .content-header {
  overflow: hidden;
  width: 100%;
  height: 350px;
  background: center center;
  background-size: cover;
}
/* line 43, ../../dev/scss/common/_general.scss */
.main-area .content-header .header-outline {
  position: relative;
  width: 100%;
  height: 270px;
  margin-top: 80px;
}
/* line 48, ../../dev/scss/common/_general.scss */
.main-area .content-header .header-outline h2 {
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  background: rgba(0, 0, 0, 0.6);
}
/* line 55, ../../dev/scss/common/_general.scss */
.main-area .content-header .header-outline h2 .ja,
.main-area .content-header .header-outline h2 .en {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}
/* line 64, ../../dev/scss/common/_general.scss */
.main-area .content-header .header-outline h2 .ja {
  height: 60px;
  margin-top: -40px;
  font-family: Dejima;
  font-size: 55px;
  line-height: 60px;
}
/* line 71, ../../dev/scss/common/_general.scss */
.main-area .content-header .header-outline h2 .en {
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  font-size: 18px;
  line-height: 40px;
}

/* line 1, ../../dev/scss/common/_index.scss */
.index-header {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  z-index: 9999;
}
/* line 9, ../../dev/scss/common/_index.scss */
.index-header .bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #000;
}
/* line 17, ../../dev/scss/common/_index.scss */
.index-header .bg-slide .slide-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  -moz-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
/* line 27, ../../dev/scss/common/_index.scss */
.index-header .bg-slide .slide-item.active {
  opacity: 1;
  z-index: 1;
}
/* line 31, ../../dev/scss/common/_index.scss */
.index-header .bg-slide .slide-item.next {
  z-index: 2;
}

/* line 1, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding-bottom: 5px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}
/* line 10, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper {
  height: 66px;
  padding-bottom: 2px;
  border-bottom: 3px solid #e67928;
}
/* line 14, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .container {
  max-width: 1100px;
}
/* line 16, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .container .navbar-brand {
  float: left;
}
/* line 18, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .container .navbar-brand .brand-anchor {
  overflow: hidden;
  display: block;
  width: 120px;
  height: 0;
  padding-top: 65px;
  background: url(../img/logo.svg) center center no-repeat;
  background-size: contain;
}
/* line 28, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .container .navbar-nav {
  overflow: hidden;
  float: right;
}
/* line 31, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .container .navbar-nav .nav-item {
  float: left;
  width: 130px;
  height: 65px;
}
/* line 35, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .container .navbar-nav .nav-item .nav-anchor {
  display: block;
  height: 65px;
  color: gray;
  text-decoration: none;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
/* line 41, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .container .navbar-nav .nav-item .nav-anchor .ja {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}
/* line 47, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .container .navbar-nav .nav-item .nav-anchor .en {
  display: block;
  margin-top: 8px;
  text-align: center;
  font-size: 10px;
}
/* line 53, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .container .navbar-nav .nav-item .nav-anchor:hover {
  color: #fff;
}
/* line 60, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .scroll-top {
  position: absolute;
  top: 0;
  right: 0;
  height: 65px;
}
/* line 65, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .scroll-top a {
  display: block;
  width: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  color: gray;
  line-height: 65px;
  font-size: 25px;
}
/* line 74, ../../dev/scss/pc/_navbar.scss */
.useragent-pc .global-navbar .navbar-wrapper .scroll-top a:hover {
  color: #fff;
}
/* line 1, ../../dev/scss/pc/_footer.scss */
.useragent-pc .global-footer {
  width: 100%;
  padding: 20px;
  background: center center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
/* line 7, ../../dev/scss/pc/_footer.scss */
.useragent-pc .global-footer .footer-wrapper {
  padding: 15px;
  border: 4px solid  #fff;
}
/* line 10, ../../dev/scss/pc/_footer.scss */
.useragent-pc .global-footer .footer-wrapper .footer-brand {
  overflow: hidden;
  width: 200px;
  height: 0;
  margin: 0 auto;
  padding-top: 200px;
  background: url(../img/logo.svg) center center no-repeat;
  background-size: contain;
}
/* line 2, ../../dev/scss/pc/_main-general.scss */
.useragent-pc .main-area.mg-navbar {
  padding-top: 100px;
}
/* line 5, ../../dev/scss/pc/_main-general.scss */
.useragent-pc .main-area .main-content {
  width: 720px;
}
/* line 8, ../../dev/scss/pc/_main-general.scss */
.useragent-pc .main-area .sidebar {
  width: 240px;
}
/* line 11, ../../dev/scss/pc/_main-general.scss */
.useragent-pc .main-area .wide {
  width: 100%;
}
/* line 14, ../../dev/scss/pc/_main-general.scss */
.useragent-pc .main-area .left {
  float: left;
}
/* line 17, ../../dev/scss/pc/_main-general.scss */
.useragent-pc .main-area .right {
  float: right;
}
/* line 1, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header {
  border: 10px solid  #000;
}
/* line 3, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 760px;
  height: 240px;
  margin: -120px -380px;
}
/* line 10, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .header-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  float: left;
  width: 240px;
  height: 0;
  margin: -120px;
  padding-top: 240px;
  background: url(../img/logo.svg) center center no-repeat #000;
  background-size: 80%;
}
/* line 24, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list {
  width: 760px;
}
/* line 26, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list .nav-item {
  width: 240px;
  height: 70px;
  text-align: center;
  line-height: 66px;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}
/* line 34, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list .nav-item:nth-child(3), .useragent-pc .index-header .header-nav .nav-list .nav-item:nth-child(4) {
  margin: 15px 0;
}
/* line 38, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list .nav-item.left {
  float: left;
  clear: both;
}
/* line 42, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list .nav-item.right {
  float: right;
}
/* line 45, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list .nav-item .nav-anchor {
  overflow: hidden;
  position: relative;
  display: block;
  border: 2px solid  #fff;
  text-decoration: none;
  z-index: 1;
  color: #fff;
  -moz-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
/* line 55, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list .nav-item .nav-anchor::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 230px;
  margin: -115px 0;
  background: #fff;
  z-index: -1;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
  -o-transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
  -webkit-transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
  transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
}
/* line 68, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list .nav-item .nav-anchor.disabled {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  opacity: 0.8;
  cursor: default;
}
/* line 74, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list .nav-item .nav-anchor:not(.disabled):hover {
  border-color: #000;
}
/* line 76, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .header-nav .nav-list .nav-item .nav-anchor:not(.disabled):hover::after {
  width: 190px;
  margin-left: -95px;
  margin-right: -95px;
  background: #000;
}
/* line 89, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .go-content {
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 240px;
  margin-left: -120px;
  padding: 8px 0;
  background: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  -moz-transition: padding 0.1s ease;
  -o-transition: padding 0.1s ease;
  -webkit-transition: padding 0.1s ease;
  transition: padding 0.1s ease;
}
/* line 103, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .go-content .text,
.useragent-pc .index-header .go-content .icon {
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
/* line 107, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .go-content .text {
  margin-left: 6px;
  font-size: 14px;
}
/* line 111, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .go-content .icon {
  font-size: 16px;
}
/* line 114, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .go-content:hover {
  padding-top: 20px;
}
/* line 116, ../../dev/scss/pc/_index.scss */
.useragent-pc .index-header .go-content:hover .text,
.useragent-pc .index-header .go-content:hover .icon {
  color: #e67928;
}
/* line 124, ../../dev/scss/pc/_index.scss */
.useragent-pc .monthly-recommend {
  width: 680px;
  margin: 0 auto;
}
/* line 128, ../../dev/scss/pc/_index.scss */
.useragent-pc .monthly-recommend .eyecatch img {
  width: 680px;
  height: auto;
}
/* line 133, ../../dev/scss/pc/_index.scss */
.useragent-pc .monthly-recommend .details {
  overflow: hidden;
  margin: 20px 16px;
}
/* line 136, ../../dev/scss/pc/_index.scss */
.useragent-pc .monthly-recommend .details .name {
  float: left;
  margin-bottom: 10px;
  font-size: 20px;
  color: #e67928;
  font-family: Dejima;
}
/* line 143, ../../dev/scss/pc/_index.scss */
.useragent-pc .monthly-recommend .details .price {
  float: right;
  color: #aaa;
  font-size: 14px;
}
/* line 148, ../../dev/scss/pc/_index.scss */
.useragent-pc .monthly-recommend .details .comment {
  clear: both;
  margin: 6px 20px 0;
  font-size: 14px;
  color: #ccc;
}
/* line 2, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list h3 {
  margin-top: 20px;
}
/* line 5, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list h4 {
  position: relative;
  overflow: hidden;
  margin: 8px 10px 0;
  z-index: 1;
}
/* line 10, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list h4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #555555));
  background-image: -moz-linear-gradient(left, #ffffff, #555555);
  background-image: -webkit-linear-gradient(left, #ffffff, #555555);
  background-image: linear-gradient(to right, #ffffff, #555555);
  z-index: -1;
}
/* line 20, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list h4 .ja,
.useragent-pc .menu-list h4 .en {
  display: block;
  height: 30px;
  line-height: 30px;
  background: #000;
}
/* line 27, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list h4 .ja {
  float: left;
  padding-right: 10px;
  font-size: 20px;
  font-family: Dejima;
}
/* line 33, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list h4 .en {
  float: right;
  padding-left: 8px;
  font-size: 14px;
  color: #888;
}
/* line 40, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list .menu-items {
  width: 640px;
  margin: 0 auto;
}
/* line 43, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list .menu-items li {
  overflow: hidden;
  margin: 15px 0;
}
/* line 46, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list .menu-items li .menu-left {
  float: left;
  width: 420px;
  padding: 8px 0;
}
/* line 50, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list .menu-items li .menu-left h5 {
  float: left;
  font-size: 20px;
  font-family: Dejima;
  color: #e67928;
}
/* line 56, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list .menu-items li .menu-left .price {
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: #aaa;
}
/* line 62, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list .menu-items li .menu-left p {
  clear: both;
  padding: 8px 14px;
  font-size: 13px;
  line-height: 20px;
}
/* line 69, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list .menu-items li .menu-right {
  float: right;
  width: 200px;
}
/* line 72, ../../dev/scss/pc/_menu-list.scss */
.useragent-pc .menu-list .menu-items li .menu-right .thumb {
  width: 200px;
  height: 120px;
  background: center center;
  background-size: cover;
}
/* line 1, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree {
  width: 170px;
  margin: 0 35px;
  font-family: Dejima;
}
/* line 5, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree.track {
  position: fixed;
}
/* line 8, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree.trackend {
  position: absolute;
}
/* line 11, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree h4 {
  margin-top: 20px;
}
/* line 13, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree h4 span {
  overflow: hidden;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #fff;
  line-height: 35px;
  font-size: 40px;
  color: #000;
}
/* line 26, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree ul li {
  margin-left: 35px;
}
/* line 28, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree ul li a {
  position: relative;
  display: block;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
}
/* line 35, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree ul li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  display: block;
  width: 6px;
  height: 6px;
  margin: -3px;
  border-radius: 100%;
  background: #fff;
}
/* line 47, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree ul li a:hover {
  color: #e67928;
}
/* line 49, ../../dev/scss/pc/_menu-tree.scss */
.useragent-pc .menu-tree ul li a:hover::before {
  background: #e67928;
}
/* line 1, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article {
  position: relative;
  margin-top: 50px;
  padding-bottom: 10px;
}
/* line 5, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article::after {
  content: '';
  position: absolute;
  left: 35px;
  bottom: -1px;
  width: 680px;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTU1NTU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, #555555), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(left, #000000, #555555, #000000);
  background-image: -webkit-linear-gradient(left, #000000, #555555, #000000);
  background-image: linear-gradient(to right, #000000, #555555, #000000);
}
/* line 14, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article:first-child {
  margin-top: 25px;
}
/* line 18, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .header h3 {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 8px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 30px;
}
/* line 26, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .header h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(left, #000000, #aaaaaa);
  background-image: -webkit-linear-gradient(left, #000000, #aaaaaa);
  background-image: linear-gradient(to right, #000000, #aaaaaa);
}
/* line 36, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .header .date {
  margin: 10px 10px 0 0;
  text-align: right;
  font-size: 12px;
  color: #aaa;
}
/* line 43, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .body {
  width: 660px;
  margin: 15px auto;
  font-size: 14px;
  line-height: 1.75;
}
/* line 48, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .body p {
  margin: 0.5em 0px;
}
/* line 51, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .body h1, .useragent-pc .news-article .body h2, .useragent-pc .news-article .body h3 {
  font-size: Dejima;
}
/* line 54, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .body h1 {
  font-size: 1.8em;
}
/* line 57, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .body h2 {
  font-size: 1.4em;
}
/* line 60, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .body h3 {
  font-size: 1.1em;
}
/* line 64, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .body ul li {
  margin: 6px 15px 6px 25px;
  text-indent: -1.2em;
}
/* line 67, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .body ul li::before {
  content: '・';
  margin-right: 0.2em;
}
/* line 74, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .footer {
  width: 650px;
  margin: 20px auto 0;
  text-align: right;
}
/* line 78, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .footer .posted {
  font-size: 12px;
  color: #888;
}
/* line 81, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .footer .posted .date,
.useragent-pc .news-article .footer .posted .time {
  margin: 0 5px;
  font-size: 13px;
  color: #bbb;
}
/* line 88, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .footer .category {
  font-size: 13px;
  color: #999;
}
/* line 91, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .footer .category a {
  padding: 0 5px;
  color: #aaa;
}
/* line 94, ../../dev/scss/pc/_news.scss */
.useragent-pc .news-article .footer .category a:hover {
  text-decoration: none;
  color: #e67928;
}

/* line 1, ../../dev/scss/sp/_navbar.scss */
.useragent-sp .global-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}
/* line 9, ../../dev/scss/sp/_navbar.scss */
.useragent-sp .global-navbar .navbar-wrapper {
  height: 48px;
  border-bottom: 2px solid #e67928;
}
/* line 12, ../../dev/scss/sp/_navbar.scss */
.useragent-sp .global-navbar .navbar-wrapper .navbar-brand {
  float: left;
}
/* line 14, ../../dev/scss/sp/_navbar.scss */
.useragent-sp .global-navbar .navbar-wrapper .navbar-brand .brand-anchor {
  overflow: hidden;
  display: block;
  width: 100px;
  height: 0;
  margin: 4px 0;
  padding-top: 40px;
  background: url(../img/logo.svg) center center no-repeat;
  background-size: contain;
}
/* line 25, ../../dev/scss/sp/_navbar.scss */
.useragent-sp .global-navbar .navbar-wrapper .navbar-toggle {
  float: right;
}
/* line 27, ../../dev/scss/sp/_navbar.scss */
.useragent-sp .global-navbar .navbar-wrapper .navbar-toggle .toggle-anchor {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 35px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
}
/* line 39, ../../dev/scss/sp/_navbar.scss */
.useragent-sp .global-navbar:hover + .navbar-collapse {
  opacity: 1.0;
}
/* line 44, ../../dev/scss/sp/_navbar.scss */
.useragent-sp .navbar-collapse {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 1, ../../dev/scss/sp/_index.scss */
.useragent-sp .index-header {
  border: 5px solid  #000;
}
/* line 3, ../../dev/scss/sp/_index.scss */
.useragent-sp .index-header .header-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 375px;
  margin: -187.5px -150px;
}
/* line 11, ../../dev/scss/sp/_index.scss */
.useragent-sp .index-header .header-nav .header-brand {
  overflow: hidden;
  width: 180px;
  height: 0;
  margin: 0 auto;
  padding-top: 180px;
  background: url(../img/logo.svg) center center no-repeat #000;
  background-size: 80%;
}
/* line 22, ../../dev/scss/sp/_index.scss */
.useragent-sp .index-header .nav-list {
  width: 300px;
  margin-top: 15px;
}
/* line 25, ../../dev/scss/sp/_index.scss */
.useragent-sp .index-header .nav-list .nav-item {
  width: 140px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: Dejima;
}
/* line 32, ../../dev/scss/sp/_index.scss */
.useragent-sp .index-header .nav-list .nav-item.left {
  float: left;
  clear: both;
}
/* line 36, ../../dev/scss/sp/_index.scss */
.useragent-sp .index-header .nav-list .nav-item.right {
  float: right;
}
/* line 39, ../../dev/scss/sp/_index.scss */
.useragent-sp .index-header .nav-list .nav-item .nav-anchor {
  display: block;
  width: 100%;
  height: 50px;
  margin: 5px 0;
  border: 2px solid  #fff;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 1;
  color: #fff;
  -moz-transition: border-color 0.3s ease, background-color 0.3s ease;
  -o-transition: border-color 0.3s ease, background-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease, background-color 0.3s ease;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
/* line 51, ../../dev/scss/sp/_index.scss */
.useragent-sp .index-header .nav-list .nav-item .nav-anchor:hover {
  background-color: #000;
  border-color: #000;
}
